@tailwind base;

@tailwind components;

html,
body {
  @apply text-gray-700;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-semibold mb-4 leading-relaxed text-black;
  font-family: "Proza Libre", sans-serif;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

h5 {
  @apply text-lg;
}

h6 {
  @apply text-base;
}

p {
  @apply mb-4 leading-relaxed;
}

/* Theme */
.btn {
  @apply bg-primaryColor text-white tracking-wide py-3 px-8 inline-flex items-center rounded-full my-4 lowercase;
}

.btn span {
  @apply flex;
}

.btn svg {
  @apply ml-4;
}

nav .navigation_container {
  @apply flex justify-between flex-wrap py-0 items-center;
}

.nav_cta-btn {
  @apply mb-2 flex justify-center;
}

.section-header {
  @apply text-center mb-10  w-auto;
}

.section-header h1 {
  @apply uppercase;
}

.section-header h1 span {
  @apply text-primaryColor;
}

#features .featured-card {
  @apply mr-5 px-10 py-12 rounded-lg;
}

#services .services-card {
  @apply border-solid border-4 border-gray-300  mr-5 px-10 py-12 rounded-lg;
}

#services .services-card p {
  /* @apply text-white; */
}

footer .social-icon ul li {
  @apply mr-5;
}

header .header_content {
  @apply w-full;
}
header .header_image {
  @apply w-full;
}

.features .featured-card__container {
  @apply w-full;
}

.services .services-card__container {
  @apply w-full;
}

.about-grid {
  @apply flex flex-wrap items-center mb-4;
}

.about-grid .about-image {
  @apply w-full flex;
}

.about-grid .about-content {
  @apply w-full flex px-10 py-10;
}

footer,
header,
.services,
.features {
  @apply mx-5;
}

footer {
  @apply mt-20 mb-10 py-32  px-10  bg-black rounded-lg shadow-2xl;
}

footer .widget-area {
  @apply w-full;
}

footer .widget-area ul li {
  @apply pb-4;
}

footer .widget-area .widget-title {
  @apply text-white mb-10;
}

@screen lg {
  nav .navigation_container {
    @apply mx-40;
  }
  .main-menu {
    @apply w-full block flex items-center w-auto;
  }
  .nav_cta-btn {
    @apply m-0 px-10;
  }
  header .header_content {
    @apply w-1/2;
  }
  header .header_image {
    @apply w-1/2;
  }
  .features .featured-card__container {
    @apply w-1/3;
  }
  .services .services-card__container {
    @apply w-1/3;
  }
  .about-grid .about-image {
    @apply w-1/2;
  }

  .about-grid .about-content {
    @apply w-1/2 py-0;
  }
  footer {
    @apply px-20;
  }
  footer .widget-area {
    @apply w-1/4;
  }
}

@tailwind utilities;
