@tailwind base;

@tailwind components;

html,
body {
  @apply text-gray-700;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-semibold mb-4 leading-relaxed text-black;
  font-family: "Proza Libre", sans-serif;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

h5 {
  @apply text-lg;
}

h6 {
  @apply text-base;
}

p {
  @apply mb-4 leading-relaxed;
}

/* Theme */
.btn {
  @apply bg-primaryColor text-white tracking-wide py-3 px-8 inline-flex items-center rounded-full my-4 lowercase;
}

.btn span {
  @apply flex;
}

.btn svg {
  @apply ml-4;
}

.section-header {
  @apply text-center mb-10  w-auto;
}

.section-header h1 {
  @apply uppercase;
}

.section-header h1 span {
  @apply text-primaryColor;
}

#features .featured-card {
  @apply mr-5 px-10 py-12 rounded-lg;
}

#services .services-card {
  @apply border-solid border-4 border-gray-300  mr-5 px-10 py-12 rounded-lg;
}

#services .services-card p {
  /* @apply text-white; */
}

footer .social-icon ul li {
  @apply mr-5;
}

@tailwind utilities;
